body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 200px;
}

img {
  max-width: 100%;
  display: block;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.preview-images {
  display: flex;
  max-height: 150px;
  gap: 30px;
}

.preview-images__item img {
  /* height: 100%;
  width: 100%; */
  /* object-fit: cover; */
  
}

